[Desktop Entry]
Name=MATLAB_R2022a
Exec=env LIBGL_DRI3_DISABLE=1 QT_QPA_PLATFORM=xcb _JAVA_AWT_WM_NONREPARENTING=1 LD_PRELOAD=/usr/lib64/libfreetype.so.6:/usr/lib64/libstdc++.so.6 LD_LIBRARY_PATH=/opt/MATLAB/R2022a/bin/glnxa64:/usr/lib64/dri:$LD_LIBRARY_PATH /opt/MATLAB/R2022a/bin/matlab -desktop -useStartupFolderPref -softwareopengl
Terminal=false
Type=Application
Categories=Education;Math;
Name[en_GB]=matlab_2022a.desktop
