[Desktop Entry]
Name=MATLAB_R2025b
Exec=/opt/MATLAB/R2025b/bin/matlab -desktop
Terminal=false
Type=Application
Categories=Education;Math;
Name[en_GB]=matlab_2025b.desktop
