[user]
	name = njstewart-eju
	username = njstewart-eju
	email = zephyr853@gmail.com

[core]
	sshCommand = "ssh -i ~/.ssh/id_rsa_github_personal"

[includeIf "gitdir:~/Documents/github/"]
    path = ~/.gitconfig_github_personal

[includeIf "gitdir:~/Documents/gitlab/"]
    path = ~/.gitconfig_gitlab_work