[Desktop Entry]
Name=ITK-SNAP
Exec=/opt/itksnap-3.6.0-20170401-Linux-x86_64/bin/itksnap
Icon=/home/njs/.icons/itk_logo.png
Terminal=false
Type=Application
Categories=Education;Viewer;
