[Desktop Entry]
Name=MATLAB_R2024b
Exec=/opt/MATLAB/R2024b/bin/matlab -desktop
Icon=/home/njs/Documents/github/config_files/matlab_logo.png
Terminal=false
Type=Application
Categories=Education;Math;
Name[en_GB]=matlab_2024b.desktop
