[Desktop Entry]
Name=MATLAB_R2023a
Exec=/opt/MATLAB/R2023a/bin/matlab -desktop
Icon=/home/njs/Documents/github/config_files/matlab_logo.png
Terminal=false
Type=Application
Categories=Education;Math;
