[Desktop Entry]
Name=MATLAB_R2022a
Exec=/opt/MATLAB/R2022a/bin/matlab -desktop
Icon=/home/njs/.icons/matlab_logo.png
Terminal=false
Type=Application
Categories=Education;Math;
